# .dockerignore
   **/.git
   **/.gitignore
   **/node_modules
   **/bin
   **/obj
   **/logs
   **/*.user
   **/*.rsuser
   **/*.suo
   **/*.userosscache
   **/*.sln.docstates
   **/*.pfx
   **/*.publishsettings
   **/*.pubxml
   **/*.pubxml.user
   **/*.vspscc
   **/*.vssscc
   **/*.scc
   **/*.cache
   **/*.log
   **/*.tlog
   **/*.tmp
   **/*.tmp_proj
   **/*.pidb
   **/*.svclog
   **/*.sdf
   **/*.dbmdl
   **/*.dbproj.schemaview
   **/*.jfm
   **/*.aps
   **/*.ncb
   **/*.opendb
   **/*.opensdf
   **/*.VC.db
   **/*.VC.VC.opendb
   **/*.plg
   **/*.opt
   **/*.vbw
   **/*.vbp
   **/*.dsw
   **/*.dsp
   **/*.btp.cs
   **/*.btm.cs
   **/*.odx.cs
   **/*.xsd.cs
   **/*.HTMLClient/GeneratedArtifacts
   **/*.DesktopClient/GeneratedArtifacts
   **/*.DesktopClient/ModelManifest.xml
   **/*.Server/GeneratedArtifacts
   **/*.Server/ModelManifest.xml
   **/*.localhistory
   **/*.vshistory
   **/*.nvuser
   **/*.mfractor
   **/*.ionide
   **/*.code-workspace
   **/*.history
   **/*.cab
   **/*.msi
   **/*.msix
   **/*.msm
   **/*.msp
   **/*.sln.iml
   **/*.idea
   **/*.DS_Store
   **/*.env