name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]"

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  DOTNET_VERSION: 9.0.x

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Set VERSION variable from tag
        run: |
          $VERSION = $env:GITHUB_REF -replace 'refs/tags/v', ''
          Add-Content -Path $env:GITHUB_ENV -Value "VERSION=$VERSION"
      - name: Build
        run: dotnet build src/gluco-pilot.sln --configuration Release /p:Version=$env:VERSION
      - name: Publish
        run: dotnet publish src/gluco-pilot.sln --configuration Release --runtime win-x86 --output ./publish /p:Version=$env:VERSION
      - name: Test
        run: dotnet test src/gluco-pilot.sln --configuration Release /p:Version=$env:VERSION --no-build
      - name: Pack
        run: dotnet pack src/gluco-pilot.sln --configuration Release /p:Version=$env:VERSION --output .
      - name: Push
        run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{ secrets.NUGET_APIKEY }}
      - name: Deploy
        uses: rasmusbuchholdt/simply-web-deploy@2.1.0
        with:
          website-name: ${{ secrets.WEBSITE_NAME }}
          server-computer-name: ${{ secrets.SERVER_COMPUTER_NAME }}
          server-username: ${{ secrets.SERVER_USERNAME }}
          server-password: ${{ secrets.SERVER_PASSWORD }}
          source-path: src\GlucoPilot.Api\bin\Release\net9.0\publish\